---
openapi: 3.0.0
info:
  title: API SIOPE+
  description: '"Regole tecniche per di colloquio telematico di Amministrazioni pubbliche
    e Tesorieri con [SIOPE+](http://www.rgs.mef.gov.it/_Documenti/VERSIONE-I/e-GOVERNME1/SIOPE/SIOPE/SIOPEx_Regole_di_Colloquio_v31gen2017.pdf)
    tramite ProxySIOPE+ __Attenzione__: Il parametro download previsto per le risorse
    da acquisire assume nel ProxySIOPE+ il valore true anche in caso di notifica con
    successo tramite servizio di notifica push. __Attenzione__: A causa della non
    transazionalità del protocollo HTTP, si sconsiglia di utilizzare il parametro
    download per la ricerca delle entità non ancora acquisite, ma piuttosto basare
    l’algoritmo di ricerca sulla data di pubblicazione."'
  license:
    name: GPL v3.0
    url: https://www.gnu.org/licenses/gpl-3.0.txt
  version: 1.0.0
servers:
- url: https://www.link.it/projects/siope/v1
paths:
  /{idA2A}/PA/{codEnte}/flusso:
    post:
      tags:
      - Flusso Ordinativi
      summary: Invio flusso ordinativi
      description: |
        Upload di un Flusso Ordinativi relativo ad uno specifico Ente
      parameters:
      - name: idA2A
        in: path
        description: identificativo A2A del tramite della PA che origina la richiesta
        required: true
        schema:
          type: string
      - name: codEnte
        in: path
        description: codice IPA della PA
        required: true
        schema:
          type: string
      requestBody:
        description: Flusso ordinativi in formato ZIP.
        content:
          application/zip:
            schema:
              format: binary
              type: string
        required: true
      responses:
        201:
          description: Flusso ordinativi inviato con successo
          headers:
            X-RateLimit-Limit:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
            X-RateLimit-Remaining:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
            X-RateLimit-Reset:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataUpload:
                    format: date
                    type: string
                    example: 2016-12-12T15:44:59.789
                  download:
                    type: boolean
                    example: "false"
                  location:
                    format: uri
                    description: URL dove reperire il flusso inviato
                    type: string
                  progFlusso:
                    description: progressivo assegnato al flusso ordinativi da SIOPE+
                    type: string
                    example: 1234567890
              examples:
                UploadOrdinativiFlusso:
                  value:
                    progFlusso: 1234567890
                    dataUpload: 2016-12-12T15:44:59.789
                    download: false
                    location: URL a cui reperire il flusso ordinativi inviato
        400:
          description: Bad Request
        401:
          description: Identificativo A2A di chi origina la richiesta non ancora abilitato
        404:
          description: Not Found
        406:
          description: 'assenza dell''header di richiesta "Accept: application/json"'
        413:
          description: body della richiesta troppo grande
        415:
          description: 'assenza dell''header della richiesta "Content-Type: application/zip"
            o header valorizzato diversamente oppure body della richiesta non in formato
            zip'
        422:
          description: body della richiesta non aderente al suo schema XSD o comunque
            di complessità troppo elevata
        429:
          description: richieste più frequenti di quanto consentito dalle regole di
            throttling
          headers:
            X-RateLimit-Limit:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
            X-RateLimit-Remaining:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
            X-RateLimit-Reset:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
        460:
          description: identificativo A2A del tramite della PA, specificato nel flusso
            ordinativi inviato, non ancora abilitato
        503:
          description: |
            Servizio non disponibile
          headers:
            Retry-After:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/Retry-After
        default:
          description: |
            Errore non atteso
  /{idA2A}/PA/{codEnte}/flusso/ack:
    get:
      tags:
      - Flusso Ordinativi
      summary: Lista ack flussi ordinativi
      description: |
        Lista Ack Flusso Ordinativi relativo ad uno specifico Ente
      parameters:
      - name: idA2A
        in: path
        description: identificativo A2A del tramite della PA che origina la richiesta
        required: true
        schema:
          type: string
      - name: codEnte
        in: path
        description: codice IPA della PA
        required: true
        schema:
          type: string
      - name: dataProduzioneDa
        in: query
        description: Filtro dei risultati sulla data di produzione iniziale nel formato
          \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
        schema:
          format: time
          type: string
      - name: dataProduzioneA
        in: query
        description: Filtro dei risultati sulla data di produzione finale nel formato
          \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
        schema:
          format: time
          type: string
      - name: download
        in: query
        description: Filtro dei risultati sul fatto che siano stati già scaricati
          o meno.
        schema:
          type: boolean
      - name: pagina
        in: query
        description: numero della pagina dei risultati richiesta
        schema:
          format: integer
          default: 1
          type: number
      responses:
        200:
          description: Ricerca completata con successo
          content:
            application/json:
              schema:
                type: object
                properties:
                  numPagine:
                    format: integer
                    type: number
                    example: 123
                  numRisultati:
                    format: integer
                    type: number
                    example: 12345
                  pagina:
                    format: integer
                    type: number
                    example: 1
                  risultati:
                    type: array
                    items:
                      properties:
                        dataProduzione:
                          format: date
                          description: data di produzione dell'ack, nel formato \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
                          type: string
                          example: 2016-12-12T15:44:59.789
                        download:
                          description: flag che indica se l'ack sia già stato scaricato
                            o meno
                          type: boolean
                          example: "false"
                        location:
                          format: url
                          description: URL a cui reperire l'ack prodotto
                          type: string
                        progFlusso:
                          description: progressivo assegnato al flusso ordinativi
                            da SIOPE+
                          type: string
                          example: 1234567890
                  risultatiPerPagina:
                    format: integer
                    type: number
                    example: 100
        400:
          description: Bad Request
        401:
          description: Identificativo A2A di chi origina la richiesta non ancora abilitato
        404:
          description: Not Found
        406:
          description: 'assenza dell''header di richiesta "Accept: application/json"'
        429:
          description: richieste più frequenti di quanto consentito dalle regole di
            throttling
          headers:
            X-RateLimit-Limit:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
            X-RateLimit-Remaining:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
            X-RateLimit-Reset:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
        503:
          description: |
            Servizio non disponibile
          headers:
            Retry-After:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/Retry-After
        default:
          description: |
            Errore non atteso
  /{idA2A}/PA/{codEnte}/flusso/esitoapplicativo:
    get:
      tags:
      - Flusso Ordinativi
      summary: Lista messaggi esiti applicativi
      description: |
        Lista messaggi Esito Applicativo relativi ad uno specifico Ente
      parameters:
      - name: idA2A
        in: path
        description: identificativo A2A del tramite della PA che origina la richiesta
        required: true
        schema:
          type: string
      - name: codEnte
        in: path
        description: codice IPA della PA
        required: true
        schema:
          type: string
      - name: dataUploadDa
        in: query
        description: Filtro dei risultati sulla data di upload iniziale nel formato
          \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
        schema:
          format: time
          type: string
      - name: dataUploadA
        in: query
        description: Filtro dei risultati sulla data di upload finale nel formato
          \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
        schema:
          format: time
          type: string
      - name: download
        in: query
        description: Filtro dei risultati sul fatto che siano stati già scaricati
          o meno.
        schema:
          type: boolean
      - name: pagina
        in: query
        description: numero della pagina dei risultati richiesta
        schema:
          format: integer
          default: 1
          type: number
      responses:
        200:
          description: Ricerca completata con successo
          content:
            application/json:
              schema:
                type: object
                properties:
                  numPagine:
                    format: integer
                    type: number
                    example: 123
                  numRisultati:
                    format: integer
                    type: number
                    example: 12345
                  pagina:
                    format: integer
                    type: number
                    example: 1
                  risultati:
                    type: array
                    items:
                      properties:
                        dataUpload:
                          format: date
                          description: data di upload del messaggio, nel formato \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
                          type: string
                          example: 2016-12-12T15:44:59.789
                        download:
                          description: flag che indica se il messaggio sia già stato
                            scaricato o meno
                          type: boolean
                          example: "false"
                        location:
                          format: url
                          description: URL a cui reperire il messaggio inviato
                          type: string
                        progEsitoApplicativo:
                          description: progressivo assegnato al messaggio da SIOPE+
                          type: string
                          example: 1234567890
                  risultatiPerPagina:
                    format: integer
                    type: number
                    example: 100
        400:
          description: Bad Request
        401:
          description: Identificativo A2A di chi origina la richiesta non ancora abilitato
        404:
          description: Not Found
        406:
          description: 'assenza dell''header di richiesta "Accept: application/json"'
        429:
          description: richieste più frequenti di quanto consentito dalle regole di
            throttling
          headers:
            X-RateLimit-Limit:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
            X-RateLimit-Remaining:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
            X-RateLimit-Reset:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
        503:
          description: |
            Servizio non disponibile
          headers:
            Retry-After:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/Retry-After
        default:
          description: |
            Errore non atteso
  /{idA2A}/PA/{codEnte}/flusso/esitoapplicativo/{progEsitoApplicativo}:
    get:
      tags:
      - Flusso Ordinativi
      summary: Download messaggio di esito applicativo
      description: |
        Download esito flusso ordinativi relativo ad uno specifico Ente
      parameters:
      - name: idA2A
        in: path
        description: identificativo A2A del tramite della PA che origina la richiesta
        required: true
        schema:
          type: string
      - name: codEnte
        in: path
        description: codice IPA della PA
        required: true
        schema:
          type: string
      - name: progEsitoApplicativo
        in: path
        description: Progressivo assegnato da SIOPE+ all'atto dell'invio del messaggio
        required: true
        schema:
          type: string
      responses:
        200:
          description: Messaggio esito applicativo in formato ZIP
          content:
            application/zip:
              schema:
                format: binary
                type: string
        400:
          description: Bad Request
        401:
          description: Identificativo A2A di chi origina la richiesta non ancora abilitato
        404:
          description: Not Found
        406:
          description: 'assenza dell''header di richiesta "Accept: application/json"'
        429:
          description: richieste più frequenti di quanto consentito dalle regole di
            throttling
          headers:
            X-RateLimit-Limit:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
            X-RateLimit-Remaining:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
            X-RateLimit-Reset:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
        503:
          description: |
            Servizio non disponibile
          headers:
            Retry-After:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/Retry-After
        default:
          description: |
            Errore non atteso
  /{idA2A}/PA/{codEnte}/flusso/esitoflusso:
    get:
      tags:
      - Flusso Ordinativi
      summary: Lista esiti flussi ordinativi
      description: |
        Lista esiti Flusso Ordinativi relativo ad uno specifico Ente
      parameters:
      - name: idA2A
        in: path
        description: identificativo A2A del tramite della PA che origina la richiesta
        required: true
        schema:
          type: string
      - name: codEnte
        in: path
        description: codice IPA della PA
        required: true
        schema:
          type: string
      - name: dataProduzioneDa
        in: query
        description: Filtro dei risultati sulla data di produzione iniziale nel formato
          \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
        schema:
          format: time
          type: string
      - name: dataProduzioneA
        in: query
        description: Filtro dei risultati sulla data di produzione finale nel formato
          \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
        schema:
          format: time
          type: string
      - name: download
        in: query
        description: Filtro dei risultati sul fatto che siano stati già scaricati
          o meno.
        schema:
          type: boolean
      - name: pagina
        in: query
        description: numero della pagina dei risultati richiesta
        schema:
          format: integer
          default: 1
          type: number
      responses:
        200:
          description: Ricerca completata con successo
          content:
            application/json:
              schema:
                type: object
                properties:
                  numPagine:
                    format: integer
                    type: number
                    example: 123
                  numRisultati:
                    format: integer
                    type: number
                    example: 12345
                  pagina:
                    format: integer
                    type: number
                    example: 1
                  risultati:
                    type: array
                    items:
                      properties:
                        dataProduzione:
                          format: date
                          description: data di produzione dell'esito, nel formato
                            \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
                          type: string
                          example: 2016-12-12T15:44:59.789
                        download:
                          description: flag che indica se l'esito sia già stato scaricato
                            o meno
                          type: boolean
                          example: "false"
                        location:
                          format: url
                          description: URL a cui reperire l'esito prodotto
                          type: string
                        progFlusso:
                          description: progressivo assegnato al flusso ordinativi
                            da SIOPE+
                          type: string
                          example: 1234567890
                  risultatiPerPagina:
                    format: integer
                    type: number
                    example: 100
        400:
          description: Bad Request
        401:
          description: Identificativo A2A di chi origina la richiesta non ancora abilitato
        404:
          description: Not Found
        406:
          description: 'assenza dell''header di richiesta "Accept: application/json"'
        429:
          description: richieste più frequenti di quanto consentito dalle regole di
            throttling
          headers:
            X-RateLimit-Limit:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
            X-RateLimit-Remaining:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
            X-RateLimit-Reset:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
        503:
          description: |
            Servizio non disponibile
          headers:
            Retry-After:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/Retry-After
        default:
          description: |
            Errore non atteso
  /{idA2A}/PA/{codEnte}/flusso/{progFlusso}/ack:
    get:
      tags:
      - Flusso Ordinativi
      summary: Download ack flusso ordinativi
      description: |
        Download Ack Flusso Ordinativi relativo ad uno specifico Ente
      parameters:
      - name: idA2A
        in: path
        description: identificativo A2A del tramite della PA che origina la richiesta
        required: true
        schema:
          type: string
      - name: codEnte
        in: path
        description: codice IPA della PA
        required: true
        schema:
          type: string
      - name: progFlusso
        in: path
        description: Progressivo assegnato da SIOPE+ all'atto dell'invio del flusso
          ordinativi
        required: true
        schema:
          type: string
      responses:
        200:
          description: Ack flusso ordinativi in formato ZIP
          content:
            application/zip:
              schema:
                format: binary
                type: string
        400:
          description: Bad Request
        401:
          description: Identificativo A2A di chi origina la richiesta non ancora abilitato
        404:
          description: Not Found
        406:
          description: 'assenza dell''header di richiesta "Accept: application/json"'
        429:
          description: richieste più frequenti di quanto consentito dalle regole di
            throttling
          headers:
            X-RateLimit-Limit:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
            X-RateLimit-Remaining:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
            X-RateLimit-Reset:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
        503:
          description: |
            Servizio non disponibile
          headers:
            Retry-After:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/Retry-After
        default:
          description: |
            Errore non atteso
  /{idA2A}/PA/{codEnte}/flusso/{progFlusso}/esitoflusso:
    get:
      tags:
      - Flusso Ordinativi
      summary: Download esito flusso ordinativi
      description: |
        Download esito flusso ordinativi relativo ad uno specifico Ente
      parameters:
      - name: idA2A
        in: path
        description: identificativo A2A del tramite della PA che origina la richiesta
        required: true
        schema:
          type: string
      - name: codEnte
        in: path
        description: codice IPA della PA
        required: true
        schema:
          type: string
      - name: progFlusso
        in: path
        description: Progressivo assegnato da SIOPE+ all'atto dell'invio del flusso
          ordinativi
        required: true
        schema:
          type: string
      responses:
        200:
          description: Esito flusso ordinativi in formato ZIP
          content:
            application/zip:
              schema:
                format: binary
                type: string
        400:
          description: Bad Request
        401:
          description: Identificativo A2A di chi origina la richiesta non ancora abilitato
        404:
          description: Not Found
        406:
          description: 'assenza dell''header di richiesta "Accept: application/json"'
        429:
          description: richieste più frequenti di quanto consentito dalle regole di
            throttling
          headers:
            X-RateLimit-Limit:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
            X-RateLimit-Remaining:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
            X-RateLimit-Reset:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
        503:
          description: |
            Servizio non disponibile
          headers:
            Retry-After:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/Retry-After
        default:
          description: |
            Errore non atteso
  /{idA2A}/PA/{codEnte}/giornale:
    get:
      tags:
      - Giornale di Cassa
      summary: Lista giornali di cassa
      description: |
        Lista giornali di cassa relativa ad uno specifico Ente
      parameters:
      - name: idA2A
        in: path
        description: identificativo A2A del tramite della PA che origina la richiesta
        required: true
        schema:
          type: string
      - name: codEnte
        in: path
        description: codice IPA della PA
        required: true
        schema:
          type: string
      - name: dataUploadDa
        in: query
        description: Filtro dei risultati sulla data di invio iniziale nel formato
          \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
        schema:
          format: time
          type: string
      - name: dataUploadA
        in: query
        description: Filtro dei risultati sulla data di invio finale nel formato \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
        schema:
          format: time
          type: string
      - name: download
        in: query
        description: Filtro dei risultati sul fatto che siano stati già scaricati
          o meno.
        schema:
          type: boolean
      - name: pagina
        in: query
        description: numero della pagina dei risultati richiesta
        schema:
          format: integer
          default: 1
          type: number
      responses:
        200:
          description: Ricerca completata con successo
          content:
            application/json:
              schema:
                type: object
                properties:
                  numPagine:
                    format: integer
                    type: number
                    example: 123
                  numRisultati:
                    format: integer
                    type: number
                    example: 12345
                  pagina:
                    format: integer
                    type: number
                    example: 1
                  risultati:
                    type: array
                    items:
                      properties:
                        dataUpload:
                          format: date
                          description: data di invio del giornale, nel formato \"yyyy-MM-dd'T'HH:mm:ss.SSS\"
                          type: string
                          example: 2016-12-12T15:44:59.789
                        download:
                          description: flag che indica se il giornale sia già stato
                            scaricato o meno
                          type: boolean
                          example: "false"
                        location:
                          format: url
                          description: URL a cui reperire il giornale inviato
                          type: string
                        progFlusso:
                          description: progressivo assegnato al giornale da SIOPE+
                          type: string
                          example: 1234567890
                  risultatiPerPagina:
                    format: integer
                    type: number
                    example: 100
        400:
          description: Bad Request
        401:
          description: Identificativo A2A di chi origina la richiesta non ancora abilitato
        404:
          description: Not Found
        406:
          description: 'assenza dell''header di richiesta "Accept: application/json"'
        429:
          description: richieste più frequenti di quanto consentito dalle regole di
            throttling
          headers:
            X-RateLimit-Limit:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
            X-RateLimit-Remaining:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
            X-RateLimit-Reset:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
        503:
          description: |
            Servizio non disponibile
          headers:
            Retry-After:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/Retry-After
        default:
          description: |
            Errore non atteso
  /{idA2A}/PA/{codEnte}/giornale/{progGiornale}:
    get:
      tags:
      - Giornale di Cassa
      summary: Download giornale di cassa
      description: |
        Download giornale di cassa relativo ad uno specifico Ente
      parameters:
      - name: idA2A
        in: path
        description: identificativo A2A del tramite della PA che origina la richiesta
        required: true
        schema:
          type: string
      - name: codEnte
        in: path
        description: codice IPA della PA
        required: true
        schema:
          type: string
      - name: progGiornale
        in: path
        description: Progressivo assegnato da SIOPE+ all'atto dell'invio del giornale
          di cassa
        required: true
        schema:
          type: string
      responses:
        200:
          description: Giornale di cassa in formato ZIP
          content:
            application/zip:
              schema:
                format: binary
                type: string
        400:
          description: Bad Request
        401:
          description: Identificativo A2A di chi origina la richiesta non ancora abilitato
        404:
          description: Not Found
        406:
          description: 'assenza dell''header di richiesta "Accept: application/json"'
        429:
          description: richieste più frequenti di quanto consentito dalle regole di
            throttling
          headers:
            X-RateLimit-Limit:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
            X-RateLimit-Remaining:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
            X-RateLimit-Reset:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
        503:
          description: |
            Servizio non disponibile
          headers:
            Retry-After:
              $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/Retry-After
        default:
          description: |
            Errore non atteso
x-common_headers:
  X-RateLimit-Limit:
    $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
  X-RateLimit-Remaining:
    $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
  X-RateLimit-Reset:
    $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
x-common_responses:
  400:
    description: Bad Request
  401:
    description: Identificativo A2A di chi origina la richiesta non ancora abilitato
  404:
    description: Not Found
  406:
    description: 'assenza dell''header di richiesta "Accept: application/json"'
  429:
    description: richieste più frequenti di quanto consentito dalle regole di throttling
    headers:
      X-RateLimit-Limit:
        $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Limit
      X-RateLimit-Remaining:
        $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Remaining
      X-RateLimit-Reset:
        $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/X-RateLimit-Reset
  503:
    description: |
      Servizio non disponibile
    headers:
      Retry-After:
        $ref: https://teamdigitale.github.io/openapi/headers/v3.yaml#/Retry-After
  default:
    description: |
      Errore non atteso
